---
import Layout from "../../layouts/Layout.astro";
import LinkCard from "../../components/LinkCard.astro"
import { getCollection, render } from "astro:content";
import TableOfContent from "../../components/TableOfContent.astro";
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content,headings } = await render(post);
---

<Layout pageTitle={post.data.title}>
    <main
        class="pt-[72px] min-h-[calc(100vh-56px)] flex flex-col items-center justify-start"
    >
        <div class="w-full max-w-7xl mx-auto px-4 py-12">
            <div class="flex flex-col items-center justify-center gap-6">
                {
                    post.data.image && (
                        <img
                            src={post.data.image}
                            class="aspect-[21/9] object-cover w-full md:w-[80%] rounded-xl shadow-2xl"
                            loading="lazy"
                        />
                    )
                }
                <h1 class="text-3xl font-bold">{post.data.title}</h1>
                <div class="text-center">
                    {
                        post.data.description && (
                            <p class="text-sm text-gray-500">
                                {post.data.description}
                            </p>
                        )
                    }

                    <p>
                        <i class="ri-calendar-line mr-1"></i>
                        {post.data.date.toLocaleDateString("ja-JP")}
                    </p>
                    <div class="flex gap-2 mt-2">
                        {
                            post.data.tags.map((tag)=>(
                                <a href={`/blog/tags/${tag}`} class="px-3 py-1 bg-gray-200/50 rounded-full"><i class="ri-price-tag-3-line"></i> {tag}</a>
                            )).slice(0,3)
                        }
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
                <div
                    class="order-2 md:order-1 prose col-span-1 md:col-span-2 prose-img:rounded-xl min-w-full"
                >
                    <Content components={{ LinkCard }} />
                </div>
                <div class="order-1 md:order-2">
                    <div class="sticky md:top-[72px] md:max-h-[calc(100vh-88px)] overflow-y-auto py-4">
                        <h2 class="font-medium text-lg mb-2">目次</h2>
                        <TableOfContent headings={headings} />
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
